@charset "utf-8";
/* CSS Document */

body{
	background-color: #450102;	
	/*text-align: center;*/
}

.top{
	text-align: center;
}

#cars{
	background-color: #130100;
	
	padding: 2em;
	padding-left: 24em;
	text-align: center;
	color: white;
	display: grid;
	grid-template-columns: 23% 23% 23%;
}

.logo{

}


#des{
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}


#menu{
    height: 70px;
   	background: linear-gradient(#990000, #000000);
   	background: -webkit-linear-gradient(#990000, #000000);
  	background: -o-linear-gradient(#990000, #000000);
   	background: -moz-linear-gradient(#990000, #000000);
    padding: 7px 0;
}
    
ul{
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
	border-right: 1px solid #FFFFFF;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 30px; 
}

#menu ul li a button{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 30px;
	background-color: transparent;
	
}

#menu ul li a:hover{
font-size: 20px;
font-weight: bold;
color: grey;
}




* {box-sizing:border-box}


.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
	margin-left: 10em
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
	color: white;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.slideshow-container2 {
  max-width: 500px;
  position: relative;
  margin: auto;
	margin-left: 10em
}


.mySlides2 {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
	color: white;
}

/* Caption text */
.text2 {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
